<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Franco&#39;s Geeky Stuff by tyge318</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{base}}/stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{base}}/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{base}}/stylesheets/github-light.css" media="screen">
  </head>
  <body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1659399941038839',
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
    <section class="page-header">
      <h1 class="project-name">Franco&#39;s Geeky Stuff</h1>
      <h2 class="project-tagline">It&#39;s all about Geeks.</h2>
	
	<table>
		<tr>
	      {% for p in site.pages %}
			{% if p.url contains site.baseurl %}
			  {% assign p_url_parts = p.url | split: '/' %}
			  {% assign filename = p_url_parts | last %}
			    {% unless filename contains  '.' %}
			      <td>
			       <h2><a class="navigation-item" href="{{ p.url }}">{{ p.title }}</a></h2>
			      </td>
				{% endunless %}
			 {% endif %}  
	      {% endfor %}
		</tr>
	</table>
    </section>
	